*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---------------------Header Section  Component----*/
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  background: #0EC466;
  color: #ffffff;
}

h1 {
  margin-bottom: 2rem;
}

/*-----------------------------AddTask Component----*/
.add-task {
  width: 100%;
  max-width: 800px;
}

.addtask {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  font-size: 18px;
  border: none;
  border-radius: 0.3rem;
}

.addtask:focus {
  border: solid 3px #04778b;
}

/*----------------------Filter Section Component----*/
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  background: #93ecbe;
}

/*------------------------Filter Tasks Component----*/
.filter-tasks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

/*-----------------------Tasks Section Component----*/
.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
}

/*--------------------------------Task Component----*/
.task-list {
  width: 100%;
  max-width: 800px;
}

.task {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 20px 3px rgba(0, 0, 0, 0.418);
  list-style: none;
}

.task-top {
  margin-bottom: 1rem;
}

.task-check {
  position: relative;
  margin-right: 1.5rem;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox {
  opacity: 0;
}

.checkbox:checked~.checkmark {
  background: #0EC466;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 0.25rem;
  background: #a7a7a7;
}

.task-text {
  display: inline;
  font-size: 20px;
}

.task-bottom {
  display: flex;
  justify-content: space-between;
}

/*---------------------------------------Buttons----*/
.btn {
  height: 3rem;
  cursor: pointer;
  font-weight: 700;
  border: none;
  border-radius: 0.3rem;
  background: #9b32d8;
  color: #ffffff;
}

.btn-add {
  width: 100%;
}

.btn-filter {
  width: 31%;
}

.btn-task {
  width: 48%;
}

.btn-edit {
  background: #04778b;
}

.btn-edit:hover {
  background: #03515f;
}

.btn-delete {
  background: #e42b2b;
}

.btn-delete:hover {
  background: #b61b1b;
}